.card-products {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    width: 320px;
}

.product-img {
    width: 300px;
    height: 300px;
}

.product-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: black;
    height: 100px;
}

.div-actions {
    padding-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-left: 30px;
    margin-right: 30px;
    width: 20%;
    height: 65%;
    font-size: 1.5rem;
    font-weight: bold;
}

.span-count-order {
    width: 3vw;
    text-align: center;
    min-width: 30px;
}

.div-add-cart {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1vw;
    margin-bottom: 5px;
    width: 100%;
}

.btn-add-cart {
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}

.btn-add-cart a {
    color: black;
}
