.list {
    width: 100vw;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .span {
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
} */
