.Item {
    max-height: 600px !important;
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;

    background-image: url("../../../public/fondo.jpg");
    background-size: cover;
}

.img {
    width: 350px !important;
}
.name {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.description {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin: 20px;
}

.stock {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.button {
    background-color: #d3ad7f;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.a {
    color: black;
}
