.Item-Detail-Container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
}

.Item-Detail {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 450px;
    max-width: 50vw;
    background-image: url("../../../public/fondo-detail.jpg");
    background-size: cover;
    color: white;
}

.inline {
    display: inline;
}

.img-detail {
    width: 30vw;
}
.description {
    width: 30vw;
}

.text-center {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.item-detail-name {
    padding-top: 5px;
    font-size: 2rem;
    font-weight: bold;
    color: #d3ad7f;
}

.item-detail-stock {
    font-size: 1.5rem;
    font-weight: 800;
    color: #d3ad7f;
}

.item-detail-price {
    font-size: 1.5rem;
    font-weight: 800;
    color: #d3ad7f;
}

.text-detail-description {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.item-detail-description {
    padding-top: 20px;
    color: #d3ad7f;

    font-weight: 800;
    font-size: 1.5rem;
}
.swal2-icon-content {
    text-align: center;
    justify-content: center;
}
strong {
    text-align: center;
}

.swal2-container.swal2-center > .swal2-popup {
    background-color: black;
}

.swal2-html-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

i {
    color: #d3ad7f;
    font-size: 1.5rem;
    padding-right: 50px;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(13, 172, 13) !important;
}

.loader {
    width: 40%;
}
.div-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
