.Item-Detail-Container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
}

.Item-Detail {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 450px;
    max-width: 50vw;
    background-image: url("../../../public/fondo.jpg");
    background-size: cover;
    color: white;
}

.inline {
    display: inline;
}

.img-detail {
    width: 30vw;
}
.description {
    width: 30vw;
}

.text-center {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.item-detail-name {
    padding-top: 5px;
    font-size: 2rem;
    font-weight: bold;
    color: #d3ad7f;
}

.item-detail-stock {
    font-size: 1.5rem;
    font-weight: 800;
    color: #d3ad7f;
}

.item-detail-price {
    font-size: 1.5rem;
    font-weight: 800;
    color: #d3ad7f;
}

.text-detail-description {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.item-detail-description {
    padding-top: 20%;
    font-weight: 800;
    font-size: 1.5rem;
}
