.btn {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}
.spn {
    height: 5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.div {
    display: flex;
    justify-content: center;
}
.btn-agregar {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2vw;
    font-size: 1.5rem;
    font-weight: bold;
}
