.footer {
    background-color: black;
    display: flex;
    height: 12vh;

    font-size: 1.5rem;
    text-decoration: none;
    color: #d3ad7f;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
