.cartWidget {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.active {
    color: #d3ad7f !important;
}

.carrito {
    color: white;
}

.carrito:hover {
    color: #d3ad7f;
}
