.Nav {
    font-size: 2rem;
    width: 80%;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.on {
    color: chocolate;
}
.off {
    color: white;
}
