.table-container {
    display: flex;
    justify-content: center;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 5%;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
}

th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #1b1b1f;

    border-bottom: 1px solid #fff;
    color: #d3ad7f;

    text-align: center;
    width: 25%;
}

td {
    padding: 8px;
    background: #1b1b1f;

    border-bottom: 1px solid #fff;
    color: #d3ad7f;

    border-top: 1px solid transparent;
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
}

tr:hover td {
    background: #2f2f38;

    color: #b28a59;
}
